<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Dbaas by JJ</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>Dbaas</h1>
        <h2>Database as a Service, una introducción usando Redis</h2>
        <a href="https://github.com/JJ/dbaas" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
          <h1>
<a id="introducción-a-las-bases-de-datos-como-servicio" class="anchor" href="#introducci%C3%B3n-a-las-bases-de-datos-como-servicio" aria-hidden="true"><span class="octicon octicon-link"></span></a>Introducción a las bases de datos como servicio</h1>

<h2>
<a id="objetivos" class="anchor" href="#objetivos" aria-hidden="true"><span class="octicon octicon-link"></span></a>Objetivos</h2>

<ol>
<li>Entender el concepto de DBaaS.</li>
<li>Darse de alta en algún servicio DBaaS.</li>
<li>Crear scripts simples para Redis.</li>
</ol>

<h2>
<a id="introducción-a-la-introducción" class="anchor" href="#introducci%C3%B3n-a-la-introducci%C3%B3n" aria-hidden="true"><span class="octicon octicon-link"></span></a>Introducción a la introducción</h2>

<p>Como las bases de datos son, en realidad, una aplicación como otra
cualquiera,
<a href="http://en.wikipedia.org/wiki/Cloud_database">las bases de datos como servicio, bases de datos en la nube o <em>DBaaS</em></a>
encajan mejor dentro de este texto que de ningún otro sitio, aunque en
realidad no son una solución completa, sino que se tienen que combinar
con un PaaS o un IaaS para crear una aplicación. Sin embargo, es
conveniente tener conocimiento de ellas, puesto que los PaaS a que se
verán a continación las usan.</p>

<p>Los DBaaS ofrecen acceso tanto bases de datos clásicas, es decir, con
el lenguaje SQL, como a bases de datos <em>sin esquemas</em> o NoSQL como
Redis, CouchDB o MongoDB. También hay modelos <em>freemium</em> o gratuitos
con tarjeta de crédito, tales como
<a href="http://aws.amazon.com/es/dynamodb/?nc2=h_l3_db">Amazon DynamoDB</a> o
<a href="https://www.cleardb.com/pricing.view">ClearDB, que provee servicio MySQL</a>. La
mayoría de los PaaS, por otro lado, ofrecen también DBaaS como
añadidos a sus plataformas; es decir, tarde o temprano se acabarán
usando.</p>

<p>Vamos a aprovechar que estamos hablando de nuevas bases de datos para
trabajar con <a href="http://redis.io">Redis</a>. Redis es una base de datos no
persistente, en memoria, de altas prestaciones, y que permite trabajar
de forma muy eficiente con estructuras de datos simples. Otros
sistemas noSQL como CouchDB o MongoDB también son bastante populares,
pero Redis se está convirtiendo en uno de los estándares emergentes y
tiene buen soporte en JavaScript, tanto en cliente como en node.</p>

<blockquote>
<p>En este momento, si no se ha hecho antes, se deberá instalar
<a href="http://nodejs.org">Node</a>, un intérprete de Javascript para usar en
servidores o en línea de órdenes. No es el objetivo de este texto
enseñar ni node ni JavaScript, del que tendrías que tener cierto
conocimiento previo. Si quieres aprender, hay un <em>cough</em> <em>cough</em>
excelente
<a href="https://www.amazon.es/dp/B00HXL8QA0?tag=atalaya-21&amp;camp=3634&amp;creative=24822&amp;linkCode=as4&amp;creativeASIN=B00HXL8QA0&amp;adid=1TS47T651FGQTKED28CV&amp;">texto introductorio</a>
por menos de un euro en Amazon (o libre en GitHub).</p>
</blockquote>

<p>En vez de ir característica por característica, vamos a empezar
trabajando con un sistema cliente-servidor para hacer porras
futbolísticas con el que seguiremos trabajando más adelante.</p>
        </section>

        <aside id="sidebar">
          <a href="https://github.com/JJ/dbaas/zipball/master" class="button">
            <small>Download</small>
            .zip file
          </a>
          <a href="https://github.com/JJ/dbaas/tarball/master" class="button">
            <small>Download</small>
            .tar.gz file
          </a>

          <p class="repo-owner"><a href="https://github.com/JJ/dbaas"></a> is maintained by <a href="https://github.com/JJ">JJ</a>.</p>

          <p>This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
        </aside>
      </div>
    </div>

  
  </body>
</html>
